<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Estadísticas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <h1>Estadísticas de las Actividades</h1>
    </header>

    <section class="resumen-actividades">
      <h2>Resumen de actividades</h2>

      <h3 class="tituloGraficos">1. Actividades por día:</h3>
      <div id="grafico-linea" class="grafico"></div>

      <h3 class="tituloGraficos">2. Actividades por tipo:</h3>
      <div id="grafico-torta" class="grafico"></div>

      <h3 class="tituloGraficos">3. Actividades por mes y horario:</h3>
      <div id="grafico-barras" class="grafico"></div>

      <a href="/" class="button-enlace">Volver a la portada</a>
    </section>
    <div id="tooltip"></div>
  <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot@4.2.6/dist/es5/jquery.flot.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot@4.2.6/source/jquery.flot.pie.js"></script>
  <script src="{{ url_for('static', filename='js/graficos.js') }}"></script>
  </body>
</html>

