<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Actividades recreativas</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <h1>¡Bienvenid@ a todas las actividades <br> a las que puedes asistir cerca tuyo!</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('agregar_actividad') }}">Agregar actividad</a></li>
                <li><a href="{{ url_for('lista_actividades') }}">Ver listado de actividades</a></li>
                <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
            </ul>
        </nav>
    </header><br>
{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
<div class="mensaje-flash">
    {% for mensaje in mensajes %}
    <p>{{ mensaje }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

    <section>
        <h2>Últimas actividades añadidas</h2>
        <table>
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Temas</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <!-- Muestra solo las últimas 5 actividades agregadas -->
                {% for actividad in actividades %}
                <tr>
                    <td>{{ actividad.dia_hora_inicio }}</td>
                    <td>{% if actividad.dia_hora_termino %} {{ actividad.dia_hora_termino }} {% else %} No especificado {% endif %}</td>
                    <td>{{ actividad.comuna.nombre }}</td>
                    <td>{% if actividad.sector %} {{ actividad.sector }} {% else %} No especificado {% endif %}</td>
                    <td>{% set temas = [] %}
                    {% for tema in actividad.temas %}
                    {% if tema.tema.value == 'Otro' %}
                    {% set _ = temas.append(tema.glosa_otro|capitalize) %}
                    {% else %}
                    {% set _ = temas.append(tema.tema.value) %}
                    {% endif %}
                    {% endfor %}
                    {{ temas | join(', ') }}
                    </td>
                    <td>
                    <!-- Muestra solo la primera foto agregada -->
                    {% if actividad.fotos %}
                        <img src="{{ url_for('static', filename=actividad.fotos[0].ruta_archivo) }}" alt="Actividad" width="100">
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>
