<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Detalles de la actividad</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div id="detalle1" class="detalle">
    <section>
        <h1 style="text-align: center;">Detalles de la actividad</h1>
    <div class="contenedor-datos">
        <div class="dos-columnas">
            <div class="columna-izquierda">
                <p><strong>Inicio:</strong> {{ actividad.dia_hora_inicio}}</p>
                <p><strong>Término:</strong> {{ actividad.dia_hora_termino or 'No especificado' }}</p>
                <p><strong>Región:</strong> {{ actividad.comuna.region.nombre}}</p>
                <p><strong>Comuna:</strong> {{ actividad.comuna.nombre }}</p>
                <p><strong>Sector:</strong> {{ actividad.sector or 'No especificado' }}</p>
                <!-- Si hay un solo tema, escribe tema:, si hay dos o más, muestra temas: y los enumera -->
                {% if actividad.temas|length == 1 %}
                    <p><strong>Tema:</strong> 
                        {% if actividad.temas[0].tema.value == 'Otro' %}
                            {{ actividad.temas[0].glosa_otro|capitalize }}
                        {% else %}
                            {{ actividad.temas[0].tema.value }}
                        {% endif %}
                    </p>
                {% elif actividad.temas %}
                    <p><strong>Temas:</strong></p>
                    <ul>
                        {% for tema in actividad.temas %}
                            {% if tema.tema.value == 'Otro' %}
                                <li>{{ tema.glosa_otro|capitalize }}</li>
                            {% else %}
                                <li>{{ tema.tema.value }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p><strong>Tema:</strong> No especificado</p>
                {% endif %}
            </div>  
            <div class="columna-derecha">
                <p><strong>Descripción:</strong> {{ actividad.descripcion or 'No especificada' }}</p>
                <p><strong>Nombre del organizador:</strong> {{ actividad.nombre }}</p>
                <p><strong>Email del organizador:</strong> {{ actividad.email }}</p>
                <p><strong>Celular del organizador:</strong> {{ actividad.celular or 'No especificado' }}</p>
                {% if actividad.contactos|length == 1 %}
                    <p><strong>Red social del organizador:</strong></p>
                        <ul>
                            <li>{% if actividad.contactos[0].nombre.value == 'Otra' %}
                                    {{ actividad.contactos[0].identificador }}
                                {% else %}
                                    {{ actividad.contactos[0].nombre.value }}: {{ actividad.contactos[0].identificador or 'No especificada' }}
                                {% endif %}
                            </li>
                        </ul>
                {% elif actividad.contactos %}
                    <p><strong>Redes sociales del organizador:</strong></p>
                    <ul>
                        {% for c in actividad.contactos %}
                            <li>{% if c.nombre.value == 'Otra' %}
                                {{ c.identificador }}
                            {% else %}
                                {{ c.nombre.value }}: {{ c.identificador or 'No especificada' }}
                            {% endif %}
                        {% endfor %}</li>
                    </ul>
                {% else %}
                    <p><strong>Red social:</strong> No especificada</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="contenedor-fotos-wrapper">
        <h3>
            {% if actividad.fotos|length == 1 %}
                Foto de la actividad:
            {% else %}
                Fotos de la actividad:
            {% endif %}
        </h3>
        <div class="contenedor-fotos">
        {% for foto in actividad.fotos %}
            <img src="{{ url_for('static', filename=foto.ruta_archivo) }}" 
                class="foto imagen-miniatura" alt="Foto actividad" width="320" height="240">
        {% endfor %}
        </div>
    </div>

    <div class="contenedor-lista-comentarios">
    <h3>Comentarios</h3>
    <div id="listaComentarios"></div>
</div>

    <div class="contenedor-comentario">
        <h3>Agregar un comentario</h3>
        <form id="formComentario" method="post" action="{{ url_for('comentar_actividad', id=actividad.id) }}">
            <label for="nombreComentario">Nombre:</label><br>
            <input type="text" id="nombreComentario" name="nombre"><br><br>
            <label for="textoComentario">Comentario:</label><br>
            <textarea id="textoComentario" name="comentario" rows="4" cols="50"></textarea><br><br>
            <button type="submit" class="button-enlace">Agregar comentario</button>
            <div id="errorComentario" style="color: red; margin-top: 10px;"></div>
        </form>
    </div>

    <div class="contenedor-botones" style="margin-top: 30px;">
        <a href="{{ url_for('lista_actividades', page=page) }}" class="button-enlace">Volver al listado de actividades</a><br>
        <a href="/" class="button-enlace">Volver a la portada</a>
    </div>

    </section>
    </div>

<div id="fotoAmpliada" class="foto-ampliada" onclick="cerrarFoto()">
    <div class="contenido-modal" id="contenedorImagen" onclick="event.stopPropagation()">
        {% if actividad.fotos %}
            <img alt="imagenGrande" id="imagenGrande"
                src="{{ url_for('static', filename=actividad.fotos[0].ruta_archivo) }}"
                width="800" height="600">
        {% endif %}       
        <button class="boton-cerrar" onclick="cerrarFoto(); event.stopPropagation();">
            Cerrar ✕
        </button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/ampliarFoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/comentarios.js') }}"></script>


</body>
</html>
